<!doctype html>
<!--[if lt IE 8]><html class="no-js lt-ie8"> <![endif]-->
<html class="no-js">
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <title>Lion's Tracks</title>
    <!-- Mobile specific metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1 user-scalable=no">
    <!-- Force IE9 to render in normal mode -->
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="author" content="" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="application-name" content="" />
    <!-- Import google fonts - Heading first/ text second -->
    <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700' rel='stylesheet' type='text/css'>
    <!-- Css files -->
    <!-- Icons -->
    <link href="{% static 'lionstracksapp/css/icons.css' %}" rel="stylesheet" />
    <!-- Bootstrap stylesheets (included template modifications) -->
    <link href="{% static 'lionstracksapp/css/bootstrap.css' %}" rel="stylesheet" />
    <!-- Plugins stylesheets (all plugin custom css) -->
    <link href="{% static 'lionstracksapp/css/plugins.css' %}" rel="stylesheet" />
    <!-- Main stylesheets (template main css file) -->
    <link href="{% static 'lionstracksapp/css/main.css' %}" rel="stylesheet" />
    <!-- Custom stylesheets ( Put your own changes here ) -->
    <link href="{% static 'lionstracksapp/css/custom.css' %}" rel="stylesheet" />

    <!-- Windows8 touch icon ( http://www.buildmypinnedsite.com/ )-->
    <meta name="msapplication-TileColor" content="#3399cc" />
</head>
<body>
<!--[if lt IE 9]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
<!-- .page-navbar -->
<div id="header" class="page-navbar">
    <!-- .navbar-brand -->
    <a href="/lionstracksapp/" class="navbar-brand hidden-xs hidden-sm">
        <img src="{% static 'lionstracksapp/img/lionstrackslogo.bmp' %}" class="logo hidden-xs" alt="lionstracks logo">
        <!--<img src="img/lionstracks-p-sm.png" class="logo-sm hidden-lg hidden-md" alt="lionstracks logo">-->
    </a>
    <!-- / navbar-brand -->
    <!-- .no-collapse -->
    <div id="navbar-no-collapse" class="navbar-no-collapse">
        <!-- top left nav -->
        <ul class="nav navbar-nav">
            <li class="toggle-sidebar">
                <a href="#">
                    <i class="fa fa-reorder"></i>
                    <span class="sr-only">Collapse sidebar</span>
                </a>
            </li>
        </ul>
        <!-- / top left nav -->
        <!-- top right nav -->
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a id="toggle-right-sidebar" href="#" class="tipB" title="Toggle right sidebar">
                    <i class="l-software-layout-sidebar-right"></i>
                    <span class="sr-only">Toggle right sidebar</span>
                </a>
            </li>
        </ul>
        <!-- / top right nav -->
    </div>
    <!-- / collapse -->
</div>
<!-- / page-navbar -->
<!-- #wrapper -->
<div id="wrapper">
    <!-- .page-sidebar -->
    <aside id="sidebar" class="page-sidebar hidden-md hidden-sm hidden-xs">
        <!-- Start .sidebar-inner -->
        <div class="sidebar-inner">
            <!-- Start .sidebar-scrollarea -->
            <div class="sidebar-scrollarea">
                <!--  .sidebar-panel -->
                <div class="sidebar-panel">
                    <h5 class="sidebar-panel-title">User Profile</h5>
                </div>
                <!-- / .sidebar-panel -->
                <div class="user-info clearfix">
                    <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/8/005/017/276/3ddad99.jpg">
                    <span class="name">Syed Huda</span>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-xs"><i class="l-basic-gear"></i>
                        </button>
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">settings <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu right" role="menu">
                            <li><a href="#"><i class="fa fa-edit"></i>Edit profile</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#"><i class="fa fa-power-off"></i>Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--  .sidebar-panel -->
                <div class="sidebar-panel">
                    <h5 class="sidebar-panel-title">Navigation</h5>
                </div>
                <!-- / .sidebar-panel -->
                <!-- .side-nav -->
                <div class="side-nav">
                    <ul class="nav">
                        <li><a href="/lionstracksapp/"><i class="l-ecommerce-graph3"></i><span class="txt">Dashboard</span></a>
                        </li>
                        <li><a href="/lionstracksapp/dataupload/"><i class="l-basic-upload"></i><span class="txt">Upload Data</span></a>
                        </li>
                        <li><a href="/lionstracksapp/"><i class="l-basic-todolist-pen"></i><span class="txt">Set Goals</span></a>
                        </li>
                        <li><a href="/lionstracksapp/"><i class="l-basic-world"></i><span class="txt">Connect With Others</span></a>
                        </li>
                    </ul>
                </div>
                <!--  .sidebar-panel -->
            </div>
            <!-- End .sidebar-scrollarea -->
        </div>
        <!-- End .sidebar-inner -->
    </aside>
    <!-- / page-sidebar -->
    <!-- Start #right-sidebar -->
    <aside id="right-sidebar" class="right-sidebar hidden-md hidden-sm hidden-xs">
        <!-- Start .sidebar-inner -->
        <div class="sidebar-inner">
            <!-- Start .sidebar-scrollarea -->
            <div class="sidebar-scrollarea">
                <div class="tabs">
                    <!-- Start .rs tabs -->
                    <ul id="rstab" class="nav nav-tabs nav-justified">
                        <li class="active">
                            <a href="#" data-toggle="tab">Feed</a>
                        </li>
                    </ul>
                    <div id="rstab-content" class="tab-content">
                        <div class="tab-pane fade active in" id="activity">
                            <ul class="timeline timeline-icons timeline-sm">
                                <li>
                                    <p>
                                        <a href="#">John Sun</a> reached his Health Goals
                                        <span class="timeline-icon"><i class="fa fa-file-text-o"></i></span>
                                        <span class="timeline-date">Jan 1, 2015</span>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Lion's Tracks updated
                                        <span class="timeline-icon"><i class="fa fa-database"></i></span>
                                        <span class="timeline-date">Dec 1, 2014</span>
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End .rs tabs -->
            </div>
            <!-- End .sidebar-scrollarea -->
        </div>
        <!-- End .sidebar-inner -->
    </aside>
    <!-- End #right-sidebar -->
    <!-- .page-content -->
    <div class="page-content sidebar-page right-sidebar-page clearfix">
        <!-- .page-content-wrapper -->
        <div class="page-content-wrapper">
            <div class="page-content-inner">
                <!-- .page-content-inner -->
                <div id="page-header" class="clearfix">
                    <div class="page-header">
                        <h2>Lion's Tracks Dashboard:</h2>
                        <span class="txt">Your Quantified Self Health Metrics</span>
                    </div>
                    <div class="header-stats">
                        <div class="spark clearfix">
                            <div class="spark-info"><span class="number">1,500</span>Users </div>
                            <div id="spark-visitors" class="sparkline"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Start .row -->
                    <div class="col-lg-8 col-md-12 col-sm-12">
                        <!-- col-lg-12 start here -->
                        <div class="col-lg-9 col-sm-9 col-xs-12 p0">
                            <!-- col-lg-9 start here -->
                            <div class="panel panel-default plain btrr0 bbrr0 panelRefresh" data-mh="payments">
                                <!-- Start .panel -->
                                <div class="panel-heading">
                                    <h4 class="panel-title">Steps</h4>
                                </div>
                                <div class="panel-body">
                                    <div id="line-chart-payments" style="width: 100%; height:250px;"></div>
                                </div>
                            </div>
                            <!-- End .panel -->
                        </div>
                        <!-- col-lg-9 end here -->
                        <div class="col-lg-3 col-sm-3 col-xs-12 p0">
                            <!-- col-lg-3 start here -->
                            <div class="panel panel-default tile btlr0 bblr0" data-mh="payments">
                                <!-- Start .panel -->
                                <div class="panel-body">
                                    <div class="spark clearfix">
                                        <div class="spark-info mb0"><span class="number stats-number s32" data-from="0" data-to="85">0</span>
                                        </div>
                                        <div class="spark-info mtm5">Your Daily Average</div>
                                    </div>
                                    <div class="spark clearfix">
                                        <div class="spark-info mb0"><span class="number stats-number s32 color-gray-light" data-from="0" data-to="98"></span>
                                        </div>
                                        <div class="sparkline spark-payments mt0"></div>
                                        <div class="spark-info">Peer Daily Average</div>
                                    </div>
                                    <div class="spark clearfix">
                                        <div class="spark-info mb0"><span class="number stats-number s32 color-gray-light" data-from="0" data-to="67"></span>
                                        </div>
                                        <div class="sparkline spark-payments mt0"></div>
                                        <div class="spark-info">Columba Daily Average</div>
                                    </div>
                                </div>
                            </div>
                            <!-- End .panel -->
                        </div>
                        <!-- col-lg-3 end here -->
                    </div>
                    <!-- col-lg-8 end here -->

                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <!-- col-lg-6 start here -->
                        <div class="panel panel-default plain toggle panelClose panelRefresh">
                            <!-- Start .panel -->
                            <div class="panel-heading">
                                <h4 class="panel-title"><i class="l-basic-todo-pen"></i> Monthly Activity Goals</h4>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <!-- Start .row -->
                                    <div class="col-md-6">
                                        <ul class="list-unstyled" style="margin-bottom:13px;">
                                            <li class="mb15">
                                                <p class="strong mb0">Steps <span class="text-muted pull-right small">100 of 200 steps</span>
                                                </p>
                                                <div class="progress animated-bar progress-bar-sm flat mt0">
                                                    <div class="progress-bar progress-bar-primary" role="progressbar" data-transitiongoal="50"></div>
                                                </div>
                                            </li>
                                            <li class="mb15">
                                                <p class="strong mb0">Distance <span class="text-muted pull-right small">15 of 20 miles</span>
                                                </p>
                                                <div class="progress animated-bar progress-bar-sm flat mt0">
                                                    <div class="progress-bar progress-bar-danger" role="progressbar" data-transitiongoal="75"></div>
                                                </div>
                                            </li>
                                            <li class="mb15">
                                                <p class="strong mb0">Stairs <span class="text-muted pull-right small">10 of 100 flights</span>
                                                </p>
                                                <div class="progress animated-bar progress-bar-sm flat mt0">
                                                    <div class="progress-bar progress-bar-warning" role="progressbar" data-transitiongoal="12"></div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="text-center">
                                            <div id="sales-goal" class="custom-progressbar green pull-left mr15" style="width:150px;height:150px;">
                                                <div class="percent">70%</div>
                                                <div class="description s14">complete</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End .row -->
                            </div>
                        </div>
                        <!-- End .panel -->
                    </div>
                    <!-- col-lg-4 end here -->
                </div>
                <!-- End .row -->

                <div class="row">
                    <!-- Start .row -->
                    <div class="col-lg-8 col-md-12 col-sm-12">
                        <!-- col-lg-12 start here -->
                        <div class="col-lg-9 col-sm-9 col-xs-12 p0">
                            <!-- col-lg-9 start here -->
                            <div class="panel panel-default plain btrr0 bbrr0 panelRefresh" data-mh="payments">
                                <!-- Start .panel -->
                                <div class="panel-heading">
                                    <h4 class="panel-title">Flights of Stairs</h4>
                                </div>
                                <div class="panel-body">
                                    <div id="line-chart-stairs" style="width: 100%; height:250px;"></div>
                                </div>
                            </div>
                            <!-- End .panel -->
                        </div>
                        <!-- col-lg-9 end here -->
                        <div class="col-lg-3 col-sm-3 col-xs-12 p0">
                            <!-- col-lg-3 start here -->
                            <div class="panel panel-default tile btlr0 bblr0" data-mh="payments">
                                <!-- Start .panel -->
                                <div class="panel-body">
                                    <div class="spark clearfix">
                                        <div class="spark-info mb0"><span class="number stats-number s32" data-from="0" data-to="6">0</span>
                                        </div>
                                        <div class="spark-info mtm5">Your Daily Average</div>
                                    </div>
                                    <div class="spark clearfix">
                                        <div class="spark-info mb0"><span class="number stats-number s32 color-gray-light" data-from="0" data-to="3"></span>
                                        </div>
                                        <div class="sparkline spark-payments mt0"></div>
                                        <div class="spark-info">Peer Daily Average</div>
                                    </div>
                                    <div class="spark clearfix">
                                        <div class="spark-info mb0"><span class="number stats-number s32 color-gray-light" data-from="0" data-to="2"></span>
                                        </div>
                                        <div class="sparkline spark-payments mt0"></div>
                                        <div class="spark-info">Columba Daily Average</div>
                                    </div>
                                </div>
                            </div>
                            <!-- End .panel -->
                        </div>
                        <!-- col-lg-3 end here -->
                    </div>
                    <!-- col-lg-8 end here -->
                </div>
                <!-- End .row -->

                <div class="row">
                    <!-- Start .row -->
                    <div class="col-lg-8 col-md-12 col-sm-12">
                        <!-- col-lg-12 start here -->
                        <div class="col-lg-9 col-sm-9 col-xs-12 p0">
                            <!-- col-lg-9 start here -->
                            <div class="panel panel-default plain btrr0 bbrr0 panelRefresh" data-mh="payments">
                                <!-- Start .panel -->
                                <div class="panel-heading">
                                    <h4 class="panel-title">Distance (miles)</h4>
                                </div>
                                <div class="panel-body">
                                    <div id="line-chart-distance" style="width: 100%; height:250px;"></div>
                                </div>
                            </div>
                            <!-- End .panel -->
                        </div>
                        <!-- col-lg-9 end here -->
                        <div class="col-lg-3 col-sm-3 col-xs-12 p0">
                            <!-- col-lg-3 start here -->
                            <div class="panel panel-default tile btlr0 bblr0" data-mh="payments">
                                <!-- Start .panel -->
                                <div class="panel-body">
                                    <div class="spark clearfix">
                                        <div class="spark-info mb0"><span class="number stats-number s32" data-from="0" data-to="8">0</span>
                                        </div>
                                        <div class="spark-info mtm5">Your Daily Average</div>
                                    </div>
                                    <div class="spark clearfix">
                                        <div class="spark-info mb0"><span class="number stats-number s32 color-gray-light" data-from="0" data-to="12"></span>
                                        </div>
                                        <div class="sparkline spark-payments mt0"></div>
                                        <div class="spark-info">Peer Daily Average</div>
                                    </div>
                                    <div class="spark clearfix">
                                        <div class="spark-info mb0"><span class="number stats-number s32 color-gray-light" data-from="0" data-to="6"></span>
                                        </div>
                                        <div class="sparkline spark-payments mt0"></div>
                                        <div class="spark-info">Columba Daily Average</div>
                                    </div>
                                </div>
                            </div>
                            <!-- End .panel -->
                        </div>
                        <!-- col-lg-3 end here -->
                    </div>
                    <!-- col-lg-8 end here -->
                </div>
                <!-- End .row -->

            </div>
            <!-- / .page-content-inner -->
        </div>
        <!-- / page-content-wrapper -->
    </div>
    <!-- / page-content -->
</div>
<!-- / #wrapper -->
<div id="footer" class="clearfix sidebar-page right-sidebar-page">
    <!-- Start #footer  -->
    <p class="pull-left">
        Copyrights &copy; 2015 Lions Tracks. All rights reserved.
    </p>
    <p class="pull-right">
        <a href="#" class="mr5">Terms of use</a>
    </p>
</div>
<!-- End #footer  -->
<!-- Back to top -->
<div id="back-to-top"><a href="#">Back to Top</a>
</div>
<!-- Javascripts -->
<!-- Load page context data -->
<script>
    var step_data = {{ step_data }};
    var distance_data = {{ distance_data }};
    var stairs_data = {{ stairs_data }};
</script>
<!-- Load pace first -->
<script src="{% static 'lionstracksapp/plugins/core/pace/pace.min.js' %}"></script>
<!-- Important javascript libs(put in all pages) -->
<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script>
    window.jQuery || document.write('<script src="{% static 'lionstracksapp/js/libs/jquery-2.1.1.min.js' %}">\x3C/script>')
</script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script>
    window.jQuery || document.write('<script src="{% static 'lionstracksapp/js/libs/jquery-ui-1.10.4.min.js' %}">\x3C/script>')
</script>
<!--[if lt IE 9]>
  <script type="text/javascript" src="{% static 'lionstracksapp/js/libs/excanvas.min.js' %}"></script>
  <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <script type="text/javascript" src="{% static 'lionstracksapp/js/libs/respond.min.js' %}"></script>
<![endif]-->
<!-- Bootstrap plugins -->
<script src="{% static 'lionstracksapp/js/bootstrap/bootstrap.js' %}"></script>
<!-- Core plugins ( not remove ) -->
<script src="{% static 'lionstracksapp/js/libs/modernizr.custom.js' %}"></script>
<!-- Handle responsive view functions -->
<script src="{% static 'lionstracksapp/js/jRespond.min.js' %}"></script>
<!-- Custom scroll for sidebars,tables and etc. -->
<script src="{% static 'lionstracksapp/plugins/core/slimscroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'lionstracksapp/plugins/core/slimscroll/jquery.slimscroll.horizontal.min.js' %}"></script>
<!-- Remove click delay in touch -->
<script src="{% static 'lionstracksapp/plugins/core/fastclick/fastclick.js' %}"></script>
<!-- Increase jquery animation speed -->
<script src="{% static 'lionstracksapp/plugins/core/velocity/jquery.velocity.min.js' %}"></script>
<!-- Quick search plugin (fast search for many widgets) -->
<script src="{% static 'lionstracksapp/plugins/core/quicksearch/jquery.quicksearch.js' %}"></script>
<!-- Bootbox fast bootstrap modals -->
<script src="{% static 'lionstracksapp/plugins/ui/bootbox/bootbox.js' %}"></script>
<!-- Other plugins ( load only nessesary plugins for every page) -->
<script src="{% static 'lionstracksapp/js/libs/date.js' %}"></script>
<script src="{% static 'lionstracksapp/plugins/charts/flot/jquery.flot.custom.js' %}"></script>
<script src="{% static 'lionstracksapp/plugins/charts/flot/jquery.flot.pie.js' %}"></script>
<script src="{% static 'lionstracksapp/plugins/charts/flot/jquery.flot.resize.js' %}"></script>
<script src="{% static 'lionstracksapp/plugins/charts/flot/jquery.flot.time.js' %}"></script>
<script src="{% static 'lionstracksapp/plugins/charts/flot/jquery.flot.growraf.js' %}"></script>
<script src="{% static 'lionstracksapp/plugins/charts/flot/jquery.flot.categories.js' %}"></script>
<script src="{% static 'lionstracksapp/plugins/charts/flot/jquery.flot.stack.js' %}"></script>
<script src="{% static 'lionstracksapp/plugins/charts/flot/jquery.flot.orderBars.js' %}"></script>
<script src="{% static 'lionstracksapp/plugins/charts/flot/jquery.flot.tooltip.min.js' %}"></script>
<script src="{% static 'lionstracksapp/plugins/charts/flot/jquery.flot.curvedLines.js' %}"></script>
<script src="{% static 'lionstracksapp/plugins/charts/sparklines/jquery.sparkline.js' %}"></script>
<script src="{% static 'lionstracksapp/plugins/charts/progressbars/progressbar.js' %}"></script>
<script src="{% static 'lionstracksapp/plugins/ui/waypoint/waypoints.js' %}"></script>
<script src="{% static 'lionstracksapp/plugins/misc/countTo/jquery.countTo.js' %}"></script>
<script src="{% static 'lionstracksapp/js/jquery.dynamic.js' %}"></script>
<script src="{% static 'lionstracksapp/js/main.js' %}"></script>
<script src="{% static 'lionstracksapp/js/pages/dashboard.js' %}"></script>
</body>
</html>